<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <script>
          document.write(new Date().getFullYear())
        </script>
        &copy; Reback. Crafted by
        <iconify-icon icon="iconamoon:heart-duotone" class="fs-18 align-middle text-danger"></iconify-icon>
        <a href="" class="fw-bold footer-text" target="_blank">Techzaa</a>
        <span class="mx-2">|</span>
        <a href="https://wa.me/573127364948" class="fw-bold footer-text" target="_blank" rel="noopener noreferrer">
          <iconify-icon icon="mdi:whatsapp" class="fs-18 align-middle text-success me-1"></iconify-icon>WhatsApp
        </a>
      </div>
    </div>
  </div>
</footer>