{% load static i18n %}
<div class="main-nav">
  <!-- Sidebar Logo -->
  <div class="logo-box">
    <a href="/" class="logo-dark">
      <img src="{% static 'images/logo-icfes-sm.svg' %}" class="logo-sm" alt="logo sm" />
      <img src="{% static 'images/logo-icfes-dark.svg' %}" class="logo-lg" alt="logo dark" />
    </a>

    <a href="/" class="logo-light">
      <img src="{% static 'images/logo-icfes-sm.svg' %}" class="logo-sm" alt="logo sm" />
      <img src="{% static 'images/logo-icfes-light.svg' %}" class="logo-lg" alt="logo light" />
    </a>
  </div>

  <!-- Menu Toggle Button (sm-hover) -->
  <button type="button" class="button-sm-hover" aria-label="Show Full Sidebar">
    <iconify-icon icon="iconamoon:arrow-left-4-square-duotone" class="button-sm-hover-icon"></iconify-icon>
  </button>

  <div class="scrollbar" data-simplebar>
    <ul class="navbar-nav" id="navbar-nav">
      <li class="menu-title">General</li>

      <li class="nav-item">
        <a class="nav-link menu-arrow" href="#sidebarDashboards" data-bs-toggle="collapse" role="button"
          aria-expanded="false" aria-controls="sidebarDashboards">
          <span class="nav-icon">
            <iconify-icon icon="iconamoon:home-duotone"></iconify-icon>
          </span>
          <span class="nav-text"> Dashboards </span>
        </a>
        <div class="collapse" id="sidebarDashboards">
          <ul class="nav sub-navbar-nav">
            <li class="sub-nav-item">
              <a class="sub-nav-link" href="{% url 'pages:dynamic_pages' template_name='dashboard-icfes' %}">ICFES</a>
            </li>
            <li class="sub-nav-item">
              <a class="sub-nav-link" href="{% url 'icfes_dashboard:brecha_educativa' %}">Brecha Educativa</a>
            </li>
            <li class="sub-nav-item">
              <a class="sub-nav-link" href="{% url 'icfes_dashboard:historia_educacion' %}">Historia de la Educación</a>
            </li>
            <li class="sub-nav-item">
              <a class="sub-nav-link" href="{% url 'icfes_dashboard:inteligencia_educativa' %}">Inteligencia Educativa</a>
            </li>
            <li class="sub-nav-item">
              <a class="sub-nav-link" href="{% url 'icfes_dashboard:resumen_ejecutivo' %}">Resumen Ejecutivo</a>
            </li>
            <li class="sub-nav-item">
              <a class="sub-nav-link" href="{% url 'icfes_dashboard:ingles_dashboard' %}">Bilingüismo/Inglés</a>
            </li>
            <li class="sub-nav-item">
              <a class="sub-nav-link" href="{% url 'icfes_dashboard:mi_colegio' %}">Mi Colegio</a>
            </li>
          </ul>
        </div>
      </li>

      {% if request.user.is_superuser %}
      <li class="menu-title">Administration</li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:management_list' %}">
          <span class="nav-icon">
            <iconify-icon icon="iconamoon:profile-circle-duotone"></iconify-icon>
          </span>
          <span class="nav-text"> User Management </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link menu-arrow" href="#sidebarCampanas" data-bs-toggle="collapse" role="button"
          aria-expanded="false" aria-controls="sidebarCampanas">
          <span class="nav-icon">
            <iconify-icon icon="iconamoon:send-duotone"></iconify-icon>
          </span>
          <span class="nav-text"> Campañas </span>
        </a>
        <div class="collapse" id="sidebarCampanas">
          <ul class="nav sub-navbar-nav">
            {% url 'admin:icfes_dashboard_campaign_changelist' as campaign_url %}
            {% url 'admin:icfes_dashboard_campaignprospect_changelist' as prospect_url %}
            {% url 'admin:index' as admin_url %}
            <li class="sub-nav-item">
              <a class="sub-nav-link" href="{{ campaign_url|default:'#' }}">Ver campañas</a>
            </li>
            <li class="sub-nav-item">
              <a class="sub-nav-link" href="{{ prospect_url|default:'#' }}">Ver prospectos</a>
            </li>
            <li class="sub-nav-item">
              <a class="sub-nav-link" href="{{ admin_url|default:'#' }}">Admin general</a>
            </li>
          </ul>
        </div>
      </li>

      {% endif %}

    </ul>
  </div>
</div>
