{% extends "account/email/base_email.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Password Reset E-mail" %}</h2>

<p>{% trans "Hello from ICFES Analytics," %}</p>

<p>{% trans "You're receiving this e-mail because you requested a password reset for your user account at" %} <strong>{{
        current_site.name }}</strong>.</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>

<div style="text-align: center;">
    <a href="{{ password_reset_url }}" class="button">{% trans "Reset Password" %}</a>
</div>

<p>{% trans "Your username, in case you've forgotten:" %} <strong>{{ user.get_username }}</strong></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% trans "The ICFES Analytics Team" %}</p>
{% endblock %}