
{% extends "base.html" %}

{% load static i18n account crispy_forms_tags %}

{% block title %}Recuperar Contraseña{% endblock title%}

{% block body_attribute %}class="authentication-bg"{% endblock body_attribute %}

{% block content %}

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-xl-12">
              <div class="card auth-card">
                  <div class="card-body p-0">
                      <div class="row align-items-center g-0 p-5">

                        <div class="text-center m-auto">
                            <img src="{% static 'images/mail_sent.svg' %}" alt="mail sent image" height="64" />
                            <h4 class="text-dark-50 text-center mt-4 fw-bold">Revisa tu correo</h4>

                            {% if user.is_authenticated %}
                            <p class="text-muted mb-4">
                                {% include "account/snippets/already_logged_in.html" %}
                            </p>
                            {% endif %}

                            <p class="text-muted mb-4">
                                Te hemos enviado un correo con las instrucciones para restablecer tu contraseña.
                                Si no lo ves en unos minutos, revisa también tu carpeta de spam.
                            </p>
                        </div>

                        <form action="{% url 'account_login' %}" novalidate>
                            <div class="mb-0 text-center">
                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-login me-1"></i> Volver a Iniciar Sesión</button>
                            </div>
                        </form>

                      </div>
                  </div>
              </div>
          </div>     
      </div>    
  </div>
</div>

{% endblock content %}