
{% extends "base.html" %}

{% load static %}

{% block title %}Contraseña Actualizada{% endblock title%}

{% block body_attribute %}class="authentication-bg"{% endblock body_attribute %}

{% block content %}

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-xl-12">
              <div class="card auth-card">
                  <div class="card-body p-0">
                      <div class="row align-items-center g-0 p-5">

                        <div class="logout-icon m-auto" style="width:100px; height:100px;">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 161.2 161.2" width="100" height="100">
                                <circle class="path" fill="none" stroke="#0acf97" stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
                                <polyline class="path" fill="none" stroke="#0acf97" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="113,52.8 74.1,108.4 48.2,86.4"/>
                                <circle class="spin" fill="none" stroke="#0acf97" stroke-width="4" stroke-miterlimit="10" stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6" r="73.9"/>
                            </svg>
                        </div>

                        <div class="text-center m-auto">
                            <h4 class="text-dark-50 text-center mt-3 fw-bold">¡Contraseña actualizada!</h4>
                            <p class="text-muted mb-4 mt-2">
                                Tu contraseña ha sido cambiada exitosamente.
                            </p>
                        </div>

                        <form action="/dashboard-icfes/" novalidate>
                            <div class="mb-0 text-center">
                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-home me-1"></i> Ir al Dashboard</button>
                            </div>
                        </form>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}
